$main-color:            lightblue;
$default-button-color:  darkcyan;
$danger-color:          firebrick;
$layout-navbar-height:  3rem;
$layout-content-height: calc(100vh - #{$layout-navbar-height});
$shape-shadow:          5px 5px 10px grey;
